html, body {
    /* The universe takes up (almost) all available space */
    width: 99%;
    height: 99%;
    
    /* The universe is black */
    background-color: black;
}

h1, h2 {
    font-family: "Lucida Sans", Monaco, monospace;
    text-align: center;
    color: white;
}

h2 {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: gray;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 100px;
    width: 100px;
    margin-top: -50px; 
    margin-left: -50px;
    
    border-color: orange;
    border-width: 2px;
    border-style: groove;
    border-radius: 50%;
    
    box-shadow: 0 0 128px red;
    -webkit-animation: pulse 8s infinite ease-in-out;
           -animation: pulse 8s infinite ease-in-out;
}

#earth {
    /* Style your earth */
    position: absolute;
    top: 10%;
    left: 15%;
    
    height: 20px;
    width: 20px;
    margin-left:-10px;
    margin-right:-10px;
    
    border-radius: 50%;
    
    box-shadow: 0 0 2px aqua;
}

#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 400px;
    height: 400px;
    margin-top:-200px;
    margin-left:-200px;
    
    border-width: 1px;
    border-style: none;
    border-color: white;
    border-radius: 50%;
    -webkit-animation: spin-right 20s linear infinite;
       -moz-animation: spin-right 20s linear infinite;
        -ms-animation: spin-right 20s linear infinite;
         -o-animation: spin-right 20s linear infinite;
            animation: spin-right 20s linear infinite;
}

#moon {
    height: 5px;
    width: 5px;

    margin-left: -2.5px;
    margin-top: -2.5px;

    border-radius: 50%;
    
    box-shadow: 0 0 3px white;
}

#moon-orbit {
    top: 50%;
    left: 50%;

    height: 50px;
    width: 50px;

    margin-left: 35px;
    margin-top: 25px;
    
    border-width: 1px;
    border-style: none;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 3s linear infinite;
       -moz-animation: spin-right 3s linear infinite;
        -ms-animation: spin-right 3s linear infinite;
         -o-animation: spin-right 3s linear infinite;
            animation: spin-right 3s linear infinite;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
    0% { -webkit-box-shadow: 0 0 64px rgba(255,40,0,0.5); }
    50% { -webkit-box-shadow: 0 0 72px rgba(255,40,0,0.9); }
    100% { -webkit-box-shadow: 0 0 64px rgba(255,40,0,0.5); }
}

@keyframes pulse {
    0% { box-shadow: 0 0 64px rgba(255,40,0,0.5); }
    50% { box-shadow: 0 0 72px rgba(255,40,0,0.9); }
    100% { box-shadow: 0 0 64px rgba(255,40,0,0.5); }
}