html, body {
    /* The universe */
    width: 99%;
    height: 99%;
    
    background-color: black;
    -webkit-animation: pulse-background 60s infinite alternate;
}

a {
    text-decoration: underline;
    color: black;
}

h1, h2 {
    font-family: "Courier New", Monaco, monospace;
}

h1 {
    color: black;
}

h2 {
	text-align: center;
    font-size: 16px;
    color: gray;
    -webkit-animation: pulse-font-color 60s infinite alternate;
}

#footer {   
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 40px;
   width: 100%;
   background: black;
}

.footer-link {
	font-size: 16px;
    color: gray;
    text-decoration: none;
    margin-right: 14px;
    margin-left: 14px;
    -webkit-animation: pulse-font-color 60s infinite alternate;
}

#cat1 {
    position: absolute;
    /* Positions the top-left corner of the image to be */
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;

    border-radius: 50%;

    -webkit-animation: spin-right 6s linear infinite;
       -moz-animation: spin-right 6s linear infinite;
        -ms-animation: spin-right 6s linear infinite;
         -o-animation: spin-right 6s linear infinite;
            animation: spin-right 6s linear infinite;
}

#cat2 {
    /* Style your earth */
    position: absolute;
    top: 10%;
    left: 15%;
    
    height: 100px;
    width: 100px;
    margin-left:-50px;
    margin-right:-50px;
    
    border-radius: 50%;
    
    -webkit-animation: spin-left 3s linear infinite;
       -moz-animation: spin-left 3s linear infinite;
        -ms-animation: spin-left 3s linear infinite;
         -o-animation: spin-left 3s linear infinite;
            animation: spin-left 3s linear infinite;
}

#cat2-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 500px;
    height: 500px;
    margin-top:-250px;
    margin-left:-250px;
    
    border-width: 1px;
    border-style: none;
    border-color: white;
    border-radius: 50%;
    -webkit-animation: spin-right 20s linear infinite;
       -moz-animation: spin-right 20s linear infinite;
        -ms-animation: spin-right 20s linear infinite;
         -o-animation: spin-right 20s linear infinite;
            animation: spin-right 20s linear infinite;
}

#cat3 {
    height: 20px;
    width: 20px;

    margin-left: -10px;
    margin-top: -10px;

    border-radius: 50%;

    -webkit-animation: spin-left 2s linear infinite;
       -moz-animation: spin-left 2s linear infinite;
        -ms-animation: spin-left 2s linear infinite;
         -o-animation: spin-left 2s linear infinite;
            animation: spin-left 2s linear infinite;
}

#cat3-orbit {
    top: 50%;
    left: 50%;

    height: 150px;
    width: 150px;

    margin-left: 0px;
    margin-top: 20px;
    
    border-width: 1px;
    border-style: none;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 20s linear infinite;
       -moz-animation: spin-right 20s linear infinite;
        -ms-animation: spin-right 20s linear infinite;
         -o-animation: spin-right 20s linear infinite;
            animation: spin-right 20s linear infinite;
}

#bio {
    width: 60%;
    margin: auto auto auto auto;
    font-family: "Courier New", Monaco, monospace;
    font-size: 18px;
    color: black;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes pulse-background { 
    0% {background-color: #45CEEF;} 
    25% {background-color: #FFF5A5;} 
    50% {background-color: #FFD4DA;} 
    75% {background-color: #99D2E4;} 
    100% {background-color: #D8CAB4;} 
}

@-webkit-keyframes pulse-font-color { 
    0% {color: #45CEEF;} 
    25% {color: #FFF5A5;} 
    50% {color: #FFD4DA;} 
    75% {color: #99D2E4;} 
    100% {color: #D8CAB4;} 
}